* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  margin: 0 -1rem;
}